.content0 {
  width: 100%;
  height: 100%;
}

.head_0 {
  text-align: center;
  color: #423257;
  font-size: 30pt;
  font-weight: bold;
  margin-top: 160px;
  margin-bottom: 60px;
}

.storage_type {
  width: 100%;
  margin: 0 auto;
}

.storage_select {
  width: 600px;
  height: 40px;
  margin: 0 200px;
  text-align-last: center;
  font-size: 21px;
  font-weight: bold;
}

.storage {
  width: 600px;
  height: 40px;
  font-size: 21px;
  font-weight: bold;
}

.content1 {
  width: 100%;
  height: 100%;
}

.head_1 {
  text-align: center;
  color: #423257;
  font-size: 21pt;
  font-weight: bold;
  margin: 40px;
}

.deliver_type {
  width: 100%;
  margin-left: 290px;
  margin-bottom: 80px;
}

.deliver {
  display: inline-block;
  width: 150px;
}

.pet_type {
  width: 80%;
  margin-left: 156px;
  margin-bottom: 80px;
}

.pet {
  display: inline-block;
  width: 60%;
  margin-left: 140px;
}

.pet_text {
  margin-right: 65px;
  margin-left: 30px;
  width: 160px;
  height: 28px;
  font-size: 12pt;
  font-weight: 500;
  text-align: center;
}


.cctv_type {
  float: left;
  margin-left: 300px;
  margin-bottom: 80px;
}

.cctv {
  display: inline-block;
  width: 400px;
}

.cctv_r {
  margin-left: 265px;
}

.head_2 {
  text-align: center;
  color: #423257;
  font-size: 22pt;
  font-weight: bold;
  /* font-weight: 500; */
  margin-top: 20px;
  margin-bottom: 40px;
}

.content2 table {
  border-collapse: separate;
  border-spacing: 30px 15px;
}

.entrust_product_tb {
  position: relative;
  left: 10%;
}

.table_head {
  width: 200px;
  font-size: 18pt;
}

.table_data {
  font-family: "나눔고딕", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

.category_list, .product_name {
  font-size: 17px;
  font-weight: bold;
  width: 140px;
  height: 30px;
  padding-left: 5px;
}

.content2 i {
  color: #423257;
  position: relative;
  font-size: 40px;
  left: 50%;
  top: 50%;
  cursor: pointer;
}


.content3 {
  width: 100%;
  height: 100%;
}

.head_3 {
  text-align: center;
  color: #423257;
  font-size: 21pt;
  font-weight: bold;
  margin: 30px;
}

.time_type {
  display: inline-block;
  margin-left: 250px;
  margin-bottom: 40px;
  width: 800px;
}

.time {
  float: left;
  margin: 0 10px;
}

.price_type {
  width: 400px;
  height: 100%;
  margin-left: 230px;
  float: left;
}

.prices ul {
  display: inline-block;
  margin-bottom: 0px;
}

.price {
  width: 150px;
  text-align: center;
}

.i_price {
  width: 140px;
  height: 24px;
  text-align: center;
  margin-left: 40px;
  font-size: 17px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  margin: 6px;
}

.content4 {
  width: 100%;
  height: 100%;
}

.head_4 {
  margin: 30px;
  font-size: 21pt;
  font-weight: bold;
  text-align: center;
  color: #423257;
}

.head_4_1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16pt;
  text-align: center;
  color: #423257;
}

.photo_type {
  margin-left: 185px;
  margin-bottom: 5px;
}

.photo_main {
  width: 260px;
  height: 180px;
  margin: 0px 20px;
}

.photo_type2 {
  margin-left: 187px;
  margin-bottom: 10px;
}

.photo_etc {
  width: 180px;
  height: 120px;
  margin-left: 10px;
}

img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.content5 {
  width: 100%;
  height: 100%;
}

.head_5 {
  text-align: center;
  margin: 20px;
  color: #423257;
  font-size: 21pt;
  font-weight: bold;
}

.post_title {
  font-family: "나눔고딕", sans-serif;
  font-weight: bold;
  width: 80%;
  height: 40px;
  border-radius: 0;
  margin-left: 100px;
  color: #333333;
  font-size: 14pt;
  padding-left: 3px;
  margin-bottom: 20px;
}

.post_contents {
  font-family: "나눔고딕", sans-serif;
  font-weight: bold;
  width: 80%;
  border-radius: 0;
  margin-left: 100px;
  color: #333333;
  font-size: 14pt;
  padding: 4px;
}

.content6 {
  width: 100%;
  height: 100%;
}

.head_6 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #423257;
  font-size: 23pt;
  font-weight: bold;
}

.head_6_1 {
  margin-top: 30px;
  margin-left: 130px;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  color: #423257;
}

.caution {
  font-family: "NanumGothic", sans-serif;
  font-weight: bold;
  width: 740px;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 120px;
  line-height: 180%;
}

.confirm {
  margin-left: 70px;
  text-align: right;
  width: 800px;
}

.content6_ul {
  display: inline-block;
  list-style-type: none;
  width: 80%;
}

.content6_li {
  color: #423257;
  float: right;
}

.register_btn {
  cursor: pointer;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #423257;
  border: none;
  border-radius: 6px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 45px;
  margin-left: 380px;
}

.content7 {
  width: 100%;
  height: 100%;
}

.head_7 {
  text-align: center;
  font-weight: bold;
  color: #423257;
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 40px;
}

.head_7_1 {
  margin-bottom: 120px;
  margin-top: 180px;
  color: #423257;
  font-size: 36px;
  text-align: center;
}

.finished {
  width: 260px;
  height: 40px;
  color: white;
  background-color: #423257;
  border: none;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-left: 360px;
}

.input_p {
  display: none;
}
