<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springmvc.mybatis.StoreBoardMapper">
    <select id="selectOne" parameterType="int" resultType="hashMap">
        SELECT * FROM STORE_BOARD_VIEW WHERE 글번호 = #{articleNum}
    </select>
    <select id="selectDetailPrice" resultType="java.lang.String">
        SELECT DETAIL_PRICE_NAME AS 상세가격 FROM DETAILS_PRICE_TB ORDER BY DETAILS_PRICE_ID
    </select>
</mapper>