<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moa.mybatis.AddressMapper">

    <resultMap id="address_map" type="com.moa.model.vo.SimpleAddressVO">
        <id property="addressId" column="ADDRESS_ID"  />
        <id property="baseAddress" column="BASE_ADDRESS"  />
        <id property="detailAddress" column="DETAIL_ADDRESS"  />
    </resultMap>

    <sql id="address_columns">
        ADDRESS_ID, BASE_ADDRESS, DETAIL_ADDRESS
    </sql>

    <select id="searchUserAddress" resultMap="address_map" parameterType="java.lang.Integer">
        select <include refid="address_columns" /> FROM ADDRESS_VIEW WHERE USER_ID = #{userId}
    </select>

</mapper>