<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moa.mybatis.HostReputationMapper">

    <sql id="selectOneColumn">
        HT.FAVORITE_CNT 좋아요, HT.STAR_POINT_AVG 평균평점, HT.TOT_REVIEW_CNT 총리뷰, UT.NICKNAME 닉네임
    </sql>
    <sql id="selectOneColumnJoin">
       JOIN STORE_BOARD_TB SBT ON SBT.HOST_ID=HT.HOST_ID JOIN USER_TB UT ON UT.USER_ID=SBT.HOST_ID
    </sql>
    <resultMap id="selectOneMap" type="com.moa.model.vo.HostReputationVO">
        <id property="nick" column="닉네임" jdbcType="VARCHAR"/>
        <id property="starPointAvg" column="평균평점" jdbcType="NUMERIC"/>
        <id property="favoriteCnt" column="좋아요" jdbcType="NUMERIC"/>
        <id property="totalReviewCnt" column="총리뷰" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="selectOne" parameterType="int" resultMap="selectOneMap">
        SELECT <include refid="selectOneColumn"/> FROM HOST_TB HT <include refid="selectOneColumnJoin"/> WHERE SBT.ARTICLE_NUM=#{articleNum}
    </select>

</mapper>