<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moa.mybatis.MemberMapper">

</mapper>

    <select id="searchEntrust" resultMap="com.moa.model.vo.EntrustSearchVO">
        SELECT * FROM SEARCH_BOARD_VIEW SBV
        JOIN
        (
        Select ARTICLE_NUM FROM ARTICLE_SEARCH_VIEW
        WHERE SR_TRANSACTION_TYPE_ID LIKE ?  +
        AND calc_distance(LATITUDE,LONGITUDE,?,?)<= ?  +
        AND STORAGE_PERIOD_TYPE_ID LIKE ?  +
        AND PET_FLAG LIKE ? +
        AND SECURITY_FACILITY_ID LIKE ?  +
        AND STORAGE_TYPE LIKE ?  +
        AND CATEGORY_ID LIKE ?  +
        )SB  +
        USING (ARTICLE_NUM);
    </select>