<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moa.mybatis.StoreBoardMapper">
    <sql id="Entrust_columns">
    ARTICLE_NUM, DETAIL_PRICE, STAR_POINT_AVG, STORAGE_TYPE, PICTURE_NAME, TOT_REVIEW_CNT,
    STORAGE_PERIOD_TYPE_ID, NICKNAME, LATITUDE, LONGITUDE
    </sql>

    <sql id="my_storage">
        HOST_ID hostId, ARTICLE_NUM articleNum, TITLE title, STORE_PRODUCT_CNT storeProductCNt,
        EXPIRE_PRODUCT_CNT exprieProductCnt, FAVORITE_CNT favoriteCnt,
        REVIEW_CNT reviewCnt, STAR_POINT starPoint, PICTURE_NAME pictureName
    </sql>

    <resultMap id="entrustSearchVO" type="com.moa.model.vo.EntrustSearchVO">
        <id property="articleNum" column="ARTICLE_NUM" jdbcType="NUMERIC"/>
        <id property="detailPrice" column="DETAIL_PRICE" jdbcType="NUMERIC"/>
        <id property="starPointAvg" column="STAR_POINT_AVG" jdbcType="NUMERIC"/>
        <id property="storageType" column="STORAGE_TYPE" jdbcType="VARCHAR"/>
        <id property="pictureName" column="PICTURE_NAME" jdbcType="VARCHAR"/>
        <id property="totReviewCnt" column="TOT_REVIEW_CNT" jdbcType="NUMERIC"/>
        <id property="storagePeriodTypeId" column="STORAGE_PERIOD_TYPE_ID" jdbcType="NUMERIC"/>
        <id property="nickName" column="NICKNAME" jdbcType="VARCHAR"/>
        <id property="latitude" column="LATITUDE" jdbcType="NUMERIC"/>
        <id property="longitude" column="LONGITUDE" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="searchEntrust"  parameterType="com.moa.model.vo.EntrustSearchVO" resultMap="entrustSearchVO">
        SELECT * FROM SEARCH_BOARD_VIEW SBV
       JOIN
        (
        SELECT ARTICLE_NUM FROM ARTICLE_SEARCH_VIEW
        WHERE SR_TRANSACTION_TYPE_ID LIKE #{transactionType}
        AND calc_distance(LATITUDE,LONGITUDE,#{latitude},#{longitude}) <![CDATA[<=]]> #{distance}
        AND STORAGE_PERIOD_TYPE_ID LIKE #{storagePeriodType}
        AND PET_FLAG LIKE #{petFlag}
        AND SECURITY_FACILITY_ID LIKE #{securityFacility}
        AND STORAGE_TYPE LIKE #{storageType}
        AND CATEGORY_ID LIKE #{category}
        )SB
        USING (ARTICLE_NUM)

       /* SELECT * FROM SEARCH_BOARD_VIEW SBV*/

    </select>

    <select id="selectOne" parameterType="int" resultType="hashMap">
        SELECT * FROM STORE_BOARD_VIEW WHERE 글번호 = #{articleNum}
    </select>
    <select id="selectDetailPrice" resultType="java.lang.String">
        SELECT DETAIL_PRICE_NAME AS 상세가격 FROM DETAILS_PRICE_TB ORDER BY DETAILS_PRICE_ID
    </select>

    <select id="searchMyStorage" parameterType="hashMap" resultType="com.moa.model.vo.SimpleStorageBoardVO">

        select * from
        (
        select * from
        (select ROW_NUMBER() OVER(ORDER BY ARTICLE_NUM ASC) AS RW,
        <include refid="my_storage"/>
        FROM MY_STORAGE_VIEW WHERE HOST_ID = #{hostId}) MY_STORAGE_VIEW
        WHERE RW <![CDATA[<=]]> #{lastNum}
        ) where rw >= #{firstNum}
    </select>

    <select id="searchMyStorageCnt" parameterType="int" resultType="int">
        select * from MY_STORAGE_VIEW where host_id = #{hostId}
    </select>

</mapper>

