<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moa.mybatis.StoreRequestMapper">
    <resultMap id="requestInfo_map" type="com.moa.model.vo.ReadStoreRequestVO">
        <id property="profileName" column="PROFILE_IMAGE_NAME"  />
        <id property="userId" column="USER_ID"  />
        <id property="hostId" column="HOST_ID"  />
        <id property="hostNick" column="NICKNAME"  />
        <id property="startDate" column="START_DATE"  />
        <id property="endDate" column="END_DATE"  />
        <id property="bargainPrice" column="BARGAIN_PRICE"  />
        <id property="measuredPrice" column="MEASURED_PRICE"  />
        <id property="content" column="CONTENT"  />
        <id property="transactionType" column="TRANSACTION_WAY"  />
        <id property="applicationDate" column="APPLICATION_DATE"  />
        <id property="requestId" column="STORE_REQUEST_ID"  />
        <id property="baseAddress" column="BASE_ADDRESS"  />
        <id property="detailAddress" column="DETAIL_ADDRESS"  />
    </resultMap>

    <select id="searchRequestInfo" parameterType="java.lang.Integer" resultMap="requestInfo_map">
        SELECT *
        FROM STORE_REQUEST_VIEW
        WHERE STORE_REQUEST_ID = #{requestId}
    </select>
    
    <select id="searchRequestPicture" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT PICTURE_NAME
        FROM STORE_REQUEST_PICTURE_VIEW
        WHERE STORE_REQUEST_ID = #{requestId}
    </select>

    <sql id="requestList_columns">
        NUMROW, STORE_REQUEST_ID, PROFILE_IMAGE_NAME, NICKNAME, START_DATE, END_DATE, BARGAIN_PRICE, MEASURED_PRICE, BASE_ADDRESS, DETAIL_ADDRESS
    </sql>

    <resultMap id="requestList_map" type="com.moa.model.vo.SimpleUserRequestVO">
        <id property="requestId" column="STORE_REQUEST_ID"  />
        <id property="profileName" column="PROFILE_IMAGE_NAME"  />
        <id property="hostNick" column="NICKNAME"  />
        <id property="startDate" column="START_DATE"  />
        <id property="endDate" column="END_DATE"  />
        <id property="bargainPrice" column="BARGAIN_PRICE"  />
        <id property="measuredPrice" column="MEASURED_PRICE"  />
        <id property="baseAddress" column="BASE_ADDRESS"  />
        <id property="detailAddress" column="DETAIL_ADDRESS"  />
    </resultMap>

    <select id="searchRequestList" parameterType="map" resultMap="requestList_map">
        SELECT <include refid="requestList_columns" />
        FROM (
            select rownum numrow, A.*
            from STORE_REQUEST_VIEW A
            WHERE USER_ID = #{userId}
            order by APPLICATION_DATE desc
        )
        where numrow between ((#{pageNum}-1) * 10 + 1) and (#{pageNum} * 10)
    </select>

    <sql id="requestProductList_columns">
        PRODUCT_NAME, PRODUCT_CNT, CATEGORY_NAME
    </sql>

    <resultMap id="requestProductList_map" type="com.moa.model.vo.RequestProductVO">
        <id property="productName" column="PRODUCT_NAME"  />
        <id property="productCnt" column="PRODUCT_CNT"  />
        <id property="productCategory" column="CATEGORY_NAME"  />
    </resultMap>

    <select id="searchRequestProduct" parameterType="java.lang.Integer" resultMap="requestProductList_map">
        SELECT <include refid="requestProductList_columns" />
        FROM STORE_REQUEST_PRODUCT_VIEW
        WHERE STORE_REQUEST_ID = #{requestId}
    </select>
    
    <select id="searchRequestListCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select (count(*) / 10 + 1) from STORE_REQUEST_VIEW WHERE USER_ID = #{userId}
    </select>

</mapper>